# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
peerprep/node_modules
peerprep/.pnp
.pnp.js

# testing
peerprep/coverage

# next.js
peerprep/.next/
peerprep/out/

# production
peerprep/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.DS_Store
node_modules
dist/
**/*/.env

